body {
    background-color:Aliceblue;
    background-image : url("images/apple.png");
}

#container {
    width: 800px;
    margin: auto;
    background-color: AntiqueWhite;
}

header {
    padding: 40px;
    height: 80px;
    font-size: 70px;
}

nav {
    padding: 8px 40px;
    background-color: ivory;
    color: white;
}

#contents{
    padding: 40px;
    height : 400px;
}

footer {
    padding: 40px;
    height: 40px;
    background-color : black;
    color: white;
}
